<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/logo-solo.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/styles/productos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Rubik+Distressed&display=swap"
        rel="stylesheet">
    <title>Productos</title>
</head>

<body>
    <div id="app">


        <div class="menu-open gap-4 text-start d-flex flex-row-reverse" id="menu-open_container">
            <p id="menu-open">Menu</p>
            <a class="carrito" @click="carrito" href="#"><img src="./assets/images/cart.png" alt="Imagen carrito"></a>
        </div>
        <div class="nav-container contenedor_general">
            <div id="menu-close" class="menu-close">Cerrar</div>

            <div class="menu">
                <div class="menu__item">
                    <a href="./index.html" class="menu__item-link">Inicio</a>
                    
                    <img src="./assets/images/25694.png" alt=""
                        class="menu__item-img">
                    <div class="marquee">
                        <div class="marquee__inner">
                            <span>Inicio - Inicio - Inicio - Inicio - Inicio - Inicio - Inicio</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                    <a href="./productos.html" class="menu__item-link">Productos</a>
                    <img src="./assets/images/60992.png" alt="" class="menu__item-img">
                    <div class="marquee">
                        <div class="marquee__inner">
                            <span>Productos - Productos - Productos - Productos - Productos - Productos -
                                Productos</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                    <a href="./login.html" class="menu__item-link">Ingresar</a>
                    <img src="./assets/images/152533.png" alt="" class="menu__item-img">
                    <div class="marquee">
                        <div class="marquee__inner">
                            <span>Ingresar - Ingresar - Ingresar - Ingresar - Ingresar - Ingresar - Ingresar</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                    <a href="./soporte.html" class="menu__item-link">Contacto</a>
                    <img src="./assets/images/761755.png" alt=""
                        class="menu__item-img">
                    <div class="marquee">
                        <div class="marquee__inner">
                            <span>Contacto - Contacto - Contacto - Contacto - Contacto - Contacto - Contacto</span>
                        </div>
                    </div>
                </div>
                <div class="menu__item">
                    <a @click="cerrarSesion()" href="./index.html" class="menu__item-link">Cerrar Sesion</a>
                    <img src="./assets/images/image_processing20210620-28144-6enonr.png" alt=""
                        class="menu__item-img">
                    <div class="marquee">
                    </div>
                </div>
            </div>
        </div>





        <main>
            <div id="carrito_lateral">
                <div
                    class="ingresar d-flex flex-column justify-content-center text-center text-light align-items-center gap-4">
                    <h1 class="tittles mt-4 text-light">Carrito</h1>

                    <div class="carrito-previsualización d-flex flex-row flex-wrap">
                        <template v-for="articuloCarrito of articulosCarrito">
                            <div class="carrito_articulos d-flex flex-column m-2">
                                <legend class="nombre fs-5">Producto: {{articuloCarrito.nombreProducto}}</legend>
                                <div
                                    class="unidades_aumentar d-flex flex-column align-items-center justify-content-center">
                                    <p class="cantidad fs-5">Unidades:</p>
                                    <div
                                        class="unidades-cambiar d-flex flex-row align-items-around justify-content-center gap-3">
                                        <button class="boton-disminuir bg-danger" @click.prevent="restarProducto(articuloCarrito.id)" style="width: 25px; height:30px">
                                            <a class="disminuir text-decoration-none text-light align-self-center"
                                                href="">-</a>
                                        </button>
                                        <p class="cantidades">{{articuloCarrito.cantidad}}</p>
                                        <button class="boton-aumentar bg-primary text-center" @click.prevent="agregarProducto(articuloCarrito.id)"
                                            style="width: 25px; height:30px">
                                            <a class="aumentar text-decoration-none text-light align-self-start"
                                                href="">+</a>
                                        </button>
                                    </div>
                                </div>
                                <legend class="precio fs-5">Precio: {{modificarSaldo(articuloCarrito.precio)}}</legend>
                            </div>
                        </template>
                    </div>
                    <a href="./confirmar-compra.html"><button class="boton1 bg-primary p-2">Finalizar compra</button></a>

                </div>
            </div>
            <h1 class="titulo text-center mt-5">PRODUCTOS</h1>
            <div class="filtros d-flex flex-row flex-wrap align-items-center justify-content-center gap-3">

                <div class="navbar bg-transparent mt-3 d-flex flex-column justify-content-start gap-4">
                    <h3>Precio Máximo</h3>
                    <div>
                        <div>

                            <input class="input" v-model="amount" style="width:230px ;" min="11" max="150" step="2"
                                type="range" class="form-range">

                        </div>
                        <div class="text-center">{{modificarSaldo(amount)}}</div>
                    </div>
                </div>
                <div class="busqueda mt-3">
                    <form id="search" action="search" class="d-flex flex-row">
                        <!-- <input class="form-control" v-model="buscar" id="buscar" type="text" placeholder="Buscar">
                        <button class="btn_search btn border border-1 border-dark rounded-2" type="submit" @click.prevent="filtro_texto"><img src="./assets/images/search-interface-symbol.png"
                            alt=""><span class="material-symbols-outlined" style="font-size: 25px;">
                                search
                                </span></button> -->
                                <select @click="filtro_texto" v-model="categoria" name="" id="" class="form-select">
                                    <option selected disabled>seleccionar</option>
                                    <option value="pelota">pelota</option>
                                    <option value="camiseta" >camiseta</option>
                                    <option value="botella">botella</option>
                                    <option value="zapatilla">zapatilla</option>
                                    <option value="inflador">inflador</option>
                                    <option value="guante">guante</option>
                                    <option value="vincha">vincha</option>
                                    <option value="cinta">cinta</option>
                                    <option value="raqueta">raqueta</option>
                                    <option value="short">short</option>
                                    <option value="botines">botines</option>
                                </select>
                    </form>
                </div>
            </div>

            

            <div class="contenedor_general1 m-2">
                <div class="contenedor d-flex flex-row justify-content-center mt-5">
                    <div class="container d-flex flex-row flex-wrap justify-content-center">
                        <template v-for="producto of productos">
                            <div class="card" v-if="producto.precio < amount">
                                <div class="card-body">
                                    <div class="price">{{modificarSaldo(producto.precio)}}</div>
                                    <div class="imgBx">
                                        <img :src="producto.imagenes[0]">
                                    </div>
                                    <p class="ultimas fs-3 text-danger" v-if="producto.stock<5 && producto.stock>0">ULTIMAS</p>
                                    <div class="contentBx justify-content-center">
                                        <h3 class="text text-dark fs-5">{{producto.nombre}}</h3>
                                        <div class="size">
                                            <!-- 
                                        <fieldset class="fieldset justify-content-center d-flex flex-row gap-2">
                                            <legend class="text-dark align-self-center fs-5">Size:</legend>
                                            <div v-for="talles in producto.talles">
                                                <input class="input" v-model="talles" type="radio" name="" value=""
                                                id="" required :value="talles">
                                                <label class="label text-dark">{{talles}}</label>
                                            </div>
                                        </fieldset>
                                    </div> -->
                                            <button v-show="producto.stock>0" @click="agregarProducto(producto.id)"
                                                class="boton bg-dark p-1 rounded-pill">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
        </main>
        <footer class="footer d-flex flex-column">
            <div
                class="contenedor1-footer text-center d-flex flex-row flex-wrap justify-content-evenly bg-dark text-light gap-3">
                <div class="1 d-flex mt-4">
                    <img class="logo-solo align-self-center" src="./assets/images/logo-solo.png" alt="logo Nova"
                        style="width: 100px; height:100px">
                </div>
                <div class="siguenos mt-4">
                    <h5>Siguenos</h5>
                    <img class="instagram align-self-center" src="./assets/images/insta.png"
                        style="width: 50px; height:50px" alt="logo instagram">
                </div>
                <div class="footer2 mt-4">
                    <h5>LA TIENDA</h5>
                    <div><a href="./comprar.html" class="vinculos text-decoration-none text-light">¿Cómo comprar?</a>
                    </div>
                    <div><a href="./soporte.html" class="vinculos text-decoration-none text-light">Soporte</a>
                    </div>

                </div>
                <div class="footer2 mt-4">
                    <h5>CONTACTO</h5>
                    <div> <a href="" class="vinculos text-decoration-none text-light">Escribenos</a></div>
                    <a href="https://wa.me/+573015781171">
                        <img class="whatsapp align-self-center" src="./assets/images/wpp.png"
                            style="width: 80px; height:60px" alt="logo instagram">
                    </a>
                </div>
                <div class="footer2 mt-4 ">
                    <h5>UBICACIÓN</h5>
                    <div>
                        <p class="text-light">Calle 51 sur #48-57</p>
                        <a class="email text-light" href="mailto:novastore2809@gmail.com">novastore2809@gmail.com</a>
                    </div>
                </div>
            </div>
            <div
                class="contenedor2-footer text-center d-flex flex-row flex-wrap justify-content-around bg-dark text-light">
                <div>
                    <p>© Todos los derechos reservados</p>
                    <p>Grupo Nova Store</p>
                </div>
                <div>
                    <div>Vigilado:</div>
                    <img src="./assets/images/Sic-Comercio.png" style="width: 100px;" alt="">
                </div>
                <div>
                    <div>Sitio Seguro:</div>
                    <img src="./assets/images/pci.png" style="width: 70px;" alt="">
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="./assets/scripts/vehicles.js"></script>
</body>

</html>