/* Estilo para el fondo de la página */
body {
    background-image: url('../images/fondo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para el contenedor principal */
main {
    padding: 50px; /* Ajusta el padding según sea necesario */
}

/* Estilo para el formulario */
form {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semi-transparente */
    padding: 30px; /* Ajusta el padding según sea necesario */
    border-radius: 10px;
}

/* Estilo para los campos de entrada y etiquetas */
label {
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

/* Estilo para los botones */
.btn-primary {
    background-color: #e50914; /* Color rojo característico de Netflix */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #cc0812; /* Color rojo ligeramente más oscuro al pasar el ratón */
}

/* Estilo para el título */
.tittle2 {
    font-size: 2.5rem; /* Tamaño del título */
    text-align: center;
}

/* Estilo para los enlaces */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Estilos generales */


input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

/* Estilos específicos para los mensajes de disponibilidad */
#emailAvailabilityMessage,
#phoneAvailabilityMessage {
    font-weight: normal;
    margin-top: 10px;
}
input[type="button"]:hover {
    background-color: #c9302c; /* Color rojo ligeramente más oscuro al pasar el ratón */
}

#delete_status {
    margin-top: 10px;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #337ab7; /* Color azul característico de Bootstrap */
}

a:hover {
    text-decoration: underline;
}